<%= simple_form_for(vehicle) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="mb-3">
    <%= f.input :title, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :brand, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :model, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :year, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :seats, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :transmission, collection: ['manual', 'automatic'], input_html: { class: "form-select bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :fuel_type, collection: ['petrol', 'diesel', 'electric', 'hybrid'], input_html: { class: "form-select bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :price_per_day, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :address, input_html: { class: "form-control bg-dark text-white border-secondary" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3 form-check">
    <%= f.input :active, as: :boolean, input_html: { class: "form-check-input" }, label_html: { class: "text-white" } %>
  </div>

  <div class="mb-3">
    <%= f.input :description, as: :text, input_html: { class: "form-control bg-dark text-white border-secondary", rows: 4 }, label_html: { class: "text-white" } %>
  </div>

  <div class="text-center mt-4">
    <%= f.button :submit, vehicle.persisted? ? "Update Vehicle" : "Add Vehicle", class: "btn btn-outline-light px-4 py-2" %>
  </div>
<% end %>
