<div class="vehicle-show-container">
  <div class="vehicle-card">
    <div class="vehicle-card-image">
      <%= image_tag "car1.jpg", alt: "car" %>
    </div>

    <div class="vehicle-card-info">
      <h2><%= @vehicle.title %></h2>
      <p><%= @vehicle.description.truncate(100) %></p>
      <p>Seats: <%= @vehicle.seats %> | Transmission: <%= @vehicle.transmission %> | Fuel: <%= @vehicle.fuel_type %></p>
      <p><strong>Price per day:</strong> Rs <%= @vehicle.price_per_day %></p>
      <p><i class="bi bi-geo-alt"></i> <%= @vehicle.address %></p>

      <div class="vehicle-card-buttons">
        <% if current_user.renter? %>
          <%= link_to "Edit", edit_vehicle_path, class: "btn btn-outline-light"  %>
          <%= link_to "Remove", vehicle_path(@vehicle), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <%= link_to "Bookings", vehicle_bookings_path(@vehicle), class: "btn btn-outline-light" %>
        <% else %>
          <%= link_to "Book this vehicle", new_vehicle_booking_path(@vehicle), class: "btn btn-outline-light" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center my-4">Read Testimonials, Ride with confidence</h2>

<div class="reviews-section">
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <%= review.user.first_name %> <%= review.user.last_name %>
            </h5>
            <p class="card-text"><%= review.comment %></p>
            <p>Rating: <%= "â­" * review.rating %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3 class="text-center my-4">Leave a Review</h3>
<p class="text-center my-4">Share your experience with this vehicle! Rate it from 1 to 5 stars and leave your comment so others can ride with confidence.</p>
<div class="leave-review row">
  <div class="col-md-8 mx-auto">
    <% if user_signed_in? && current_user.bookings.exists?(vehicle: @vehicle) %>
      <%= form_with(model: [@vehicle, @review]) do |f| %>
        <div class="mb-2">
          <%= f.select :rating, options_for_select(1..5), { prompt: "Select rating" }, class: "form-control", required: true %>
        </div>

        <div class="mb-2">
          <%= f.label :comment, "Comment" %><br>
          <%= f.text_area :comment, rows: 3, class: "form-control" %>
        </div>

        <div class="text-center mt-3">
          <%= f.submit "Submit Review", class: "btn btn-outline-light" %>
        </div>
       <% end %>
          <% elsif user_signed_in? %>
            <p><em>You can only review this vehicle after completing a booking.</em></p>
          <% else %>
            <p><em>Please sign in to leave a review.</em></p>
          <% end %>
  </div>
</div>
